<%= image_tag(@user.profile_picture.url, class: "img_userprofile") if @user.profile_picture?%>
<p><%= "HN: #{ @user.name }" %></p>
<p><%= "user_id: #{ @user.user_name }" %></p>
<p><%= "投稿数: #{@user.microposts.count}" %></p>
