<% unless micropost.picture.blank? %>
  <section>
    <%= link_to(image_tag(micropost.picture.url), micropost_path(micropost.id)) %>
    <%= link_to("投稿を削除する", micropost_path(micropost), method: :delete) if micropost.user == @current_user %>
  </section>
<% end %>
