<% @user ||= current_user %>
<div>
  <%= link_to following_user_path(@user) do %>
    <section class="btn">
      <p>
        <strong id="following" class="stat">
          <%= @user.following.count %>
        </strong>
        following
      </p>
    </section>
  <% end %>
</div>
<div>
  <%= link_to followers_user_path(@user) do %>
    <section class="btn">
      <p>
        <strong id="followers" class="stat">
          <%= @user.followers.count %>
        </strong>
        followers
      </p>
    </section>
  <% end %>
</div>
