<% provide(:title, "Home") %>
<div class="container_home" >
  <h1 class="title">みんなの投稿</h1>
  <% if logged_in? %>
    <div class="container_home_micropost clearfix">
      <%= render partial: 'shared/micropost', collection: @microposts %>
    </div>
  <% else %>
    <div class="box__area">
      <div class="box box__bg_photo">
        <h1>写真共有webサービス</h1>
      </div>
    </div>
  <% end %>
</div>
